<nav class="navbar"  id="footer">
  <div class="container">

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" id="link" href="https://www.linkedin.com/in/beatriz-miotto-8025b7200/" target="_blank" rel="noopener noreferrer">@Beatriz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="https://www.linkedin.com/in/brunoernandesdasilva/" target="_blank" rel="noopener noreferrer">@Bruno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link" href="https://www.linkedin.com/in/daniela-martins-costa/" target="_blank" rel="noopener noreferrer">@Daniella</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="link" href="https://www.linkedin.com/in/gabriel-santos-cavalcante-b07b7221b/" target="_blank" rel="noopener noreferrer">@Gabriel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="link" href="https://www.linkedin.com/in/igorfgaspar/" target="_blank" rel="noopener noreferrer">@Igor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="link" href="https://www.linkedin.com/in/pedro-m-alonso-1b4762241/" target="_blank" rel="noopener noreferrer">@Pedro</a>
        </li>
      </ul>
      <p class="copy" id="link">&#169;Radar G3-2022</p>
    </div>
</nav>

