   <div class="container-fluid login-body py-5" >
      <div class="form-signin text-center row gy-5">
        <form class="form-signin">
          <div class="text-center mb-4">
            <img class="mb-4" src="../../../assets/img/logo_radar_g3_2.png" alt="" width="200" height="auto">
          </div>
    
          <div class="form-label-group">
            <input type="email" id="user" name="user" class="form-control" placeholder="Email" required="" autofocus="" [(ngModel)]="user">
          </div>
    
          <div class="form-label-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required=""[(ngModel)]="password">
          </div>
          <div *ngIf="alertMessage" class="alert alert-danger" role="alert">
            {{alertMessage}}
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="logar()">Entrar</button>
          <p class="mt-5 mb-3 text-muted text-center">©Radar G3 - 2022</p>
        </form>
      </div>
    </div>

