.card-header {
  background-color: rgb(80, 42, 110);
  color: white;
}

/*.chart {
  width: 100%; 
  min-height: 450px;
  align-items: center;
}*/
.card-grafic{
  margin:2px;
}
.graficatual{
  width: 800px;
}
.graficgeral{
  width: 85%;
}



/* .row {
  margin:0 !important;
} */