<div class="container-fluid row text-center" style="margin-top: 2em;">
  <!-- Cards qtd cadastros -->
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">Clientes Cadastrados</h5>
      <div class="card-body">
        <h4 class="card-text">{{qtdClientes}}</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">Produtos Cadastrados</h5>
      <div class="card-body">
        <h4 class="card-text"><app-produto-observable></app-produto-observable></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">Pedidos Cadastrados</h5>
      <div class="card-body">
        <h4 class="card-text">00</h4>
      </div>
    </div><br>
  </div>
  <!-- Fim Cards -->
  <br>
  <hr>
  <!-- Gráfico -->
  <div class="container-fluid">
    <canvas #meuCanvas></canvas>
  </div>
</div>

