<br>
<div class="container-fluid" tabindex="0">
  <div class="container-fluid">
    <button type="submit" class="btn btn-success mb-3" (click)="modalCreateCliente()">Cadastrar</button>
  </div>
  <hr>

  <div class="container-fluid">
    
    <div class="container-fluid text-center" *ngIf="clientes && clientes.length == 0">
      <h5>Não há clientes cadastrados.</h5>
    </div>
    <table class="table table-striped  table-hover" *ngIf="clientes && clientes.length > 0">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
          <th scope="col">CPF</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th scope="row">{{cliente.id}}</th>
          <td class="col-4">{{cliente.nome}}</td>
          <td>{{cliente.telefone }}</td>
          <td class="col-2">{{cliente.email}}</td>
          <td>{{cliente.cpf }}</td>
          <td>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar com grupos de botões">
              <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" style="margin: 2px;" (click)="modalViewCliente(cliente)"><i class="fa-solid fa-eye"></i></button>
                <button type="button" class="btn btn-warning" style="margin: 2px;" (click)="modalEditCliente(cliente)"><i class="fa-solid fa-pen-to-square"></i></button>
                <button type="button" class="btn btn-danger" style="margin: 2px;" (click)="modalDeleteCliente(cliente)"><i class="fa-solid fa-trash-can"></i></button>
              </div>
            </div>
          </td>
        </tr>
        <nav class="mt-5">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" (click)="paginaAnterior()">Anterior</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="proximaPagina()">Proxima</a>
            </li>
          </ul>
        </nav>
      </tbody>
    </table>
  </div>
</div>
