<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Editar Produto</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body" style="padding-left:4em">
    <form class="modal-form container container-fluid row g-3" #formProduto="ngForm">
      <div class="col-auto">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome?" [(ngModel)]="produto.nome" #nome="ngModel">
      </div><br>
      <div class="col-auto">
        <label for="descricao">Descrição</label>
        <input type="textarea" class="form-control" id="descricao" name="descricao" [(ngModel)]="produto.descricao" #descricao="ngModel">
      </div><br>

      <div class="col-auto">
        <label for="valor">Valor</label>
        <input type="number" class="form-control" id="valor" name="valor" [(ngModel)]="produto.valor" #valor="ngModel">
      </div><br>
      <div class="col-auto">
        <label for="estoque">Estoque</label>
        <input type="number" class="form-control" id="estoque" name="estoque" [(ngModel)]="produto.quantidadeEstoque" #qtd_estoque="ngModel">
      </div><br>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="activeModal.close()">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="editarProduto()">Salvar</button>
  </div>
</div>
