/* You can add global styles to this file, and also import other style files */
/* .index-body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,0.3) 30%, rgba(80,42,110,0.45) 90%);
  min-height: 100vh
}
 */
/* .login-body {
  background: rgb(80,42,110);
  background: linear-gradient(171deg, rgba(80,42,110,0.1) 100%, rgba(80,42,110,0.3) 0%);
  
} */